/* Custom CSS Overrides */
.main-menu .brand-logo img {
    height: 60px !important;
    /* Increased height */
    width: auto !important;
}

.product-right .size-box ul li {
    width: 60px;
    height: 60px;
}